.App {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.timer{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 15px
}

.card {
  align-self: center;
  width: 100%;
}

.chart{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 15px;
  align-self: center;
}

.FeaturesWrapper{
  padding-top: 5rem;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
}

.ToDoWrapper{
  flex-direction: column;
  padding-top: 5rem;
}

form {
  margin-block: 15px;
  padding: 15px;
}

.ToDo{
  align-items: center;
  background-color: rgb(123, 161, 67);
  border-radius: 15px;
  color:aliceblue;
  display: flex;
  justify-content: space-between;
  margin-block: 15px;
  padding: 19px;
}

h1{
  font-family:Arial, Helvetica, sans-serif;
}

.icon{
  margin: 5px;
}

.completed{
  text-decoration-line: line-through;
}

@media (max-width: 768px) {
  .App {
    display:flex;
    flex-direction: column-reverse;
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 5rem;
    justify-content: center;
  }

  .ToDoWrapper{
    flex-direction: column;
    padding-top: 5rem;
  }

  .FeaturesWrapper{
    padding-top: 5rem;
  }
}